.row {
  height: 45px;
  border-bottom: solid black 1px;
  margin-bottom: 45px;

}

ul.navlist {
  margin-left: 26%;
  margin-top: 2.5em;

}
ul.navlist li{
  list-style: none;
  text-align: center;
  text-decoration: none;
  float: right;
  display: inline-block;
  height: auto;
  padding-right: 16px;
}
ul.navlink li a {
  color: white;
  font-size: 2em

}
a.navlink {
  display: inline-block;
  color: black;
}
.navlist a {
  text-decoration: none;
  font-size: 2em

}
.navlist a:hover {
  text-decoration: none;
  color: #FFC720
}
.row {
  display: block;
}
a {
  display: block;
  color: white;

  }

body {
background-image: url(../images/background.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

/* Dropdown*/
.dropdown { /** Make it fit tightly around it's children */
    display: inline;
    list-style: none;
    text-align: left;
    text-decoration: none;
    float: right;
    height: auto;
    position: static;
}
.dropdown-menu {
  display: inline;
  float: left;
  margin-right: inherit;

}
.dropdown .dropdown-menu {
    position: fixed;
    display: none;

    list-style: none;


}
.dropdown:hover .dropdown-menu {
    display: inline-block;;
    color: #FFC720;
}
#blogdrop  {
    color: black;
    border: none;
    margin: 0;
    font-size: 2em;
    text-align: right;
}
.dropdown a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}
.dropdown a:hover {
    color: #FFC720;
}

/*-------------Blog------*/

.blog {
  background:rgba(255,255,255, 0.5);
  padding: 10px;
  margin: 10px;
  margin-top: 10px;
}
.bloghead {
  color: black
}
.blogtext p {
  color: black
}
